
.chuli {
    width: 90%;
    height: 90%;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.chuli .pager {
    width: 100%;
    height: 100%;
}

.gone {
    visibility: hidden;
}

.hand001 {
    left: 2.5rem;
    top: 2rem;
}

.toast001 {
    left: 2.5rem;
    top: 4rem;

}

.hand002 {
    left: 3rem;
    top: 2.5rem;
}

.toast002 {
    left: 0.5rem;
    top: 5rem;
}

.hand003 {
    left: 3.5rem;
    top: 2rem;
    visibility: visible;
}

.toast003 {
    left: 2rem;
    top: 4rem;
}

.hand004 {
    left: 3rem;
    top: 10.5rem;
}

.toast004 {
    left: 2.5rem;
    top: 9rem;
}

.hand0041 {
    left: 2rem;
    top: 4.3rem;
    visibility: visible;
}

.toast0041 {
    left: 0rem;
    top: 3rem;
}

.hand0042 {
    left: 2.5rem;
    top: 5rem;
    visibility: visible;
}

.toast0042 {
    left: 0rem;
    top: 3rem;
}

.hand0043 {
    left: 2rem;
    top: 7rem;
    visibility: visible;
}

.toast0043 {
    left: 0rem;
    top: 3rem;
}

.hand005 {
    left: 2rem;
    top: 15.5rem;
    visibility: visible;
}

.toast005 {
    left: 0rem;
    top: 14rem;
}

.hand006 {
    left: 3rem;
    top: 17.5rem;
    visibility: visible;
}

.toast006 {
    left: 2.5rem;
    top: 16rem;
}

.hand007 {
    left: 3.5rem;
    top: 9.5rem;
    visibility: visible;
}

.toast007 {
    left: 0rem;
    top: 3rem;
}

.hand008 {
    left: 3.5rem;
    top: 6.3rem;
    visibility: visible;
}

.toast008 {
    left: 0rem;
    top: 3rem;
}

.hand009 {
    left: 3.5rem;
    top: 5.3rem;
    visibility: visible;
}

.toast009 {
    left: 0rem;
    top: 3rem;
}

.hand0010 {
    left: 3.5rem;
    top: 8rem;
    visibility: visible;
}

.toast0010 {
    left: 0rem;
    top: 3rem;
}

.hand0011 {
    left: 3.5rem;
    top: 8.7rem;
    visibility: visible;
}

.toast0011 {
    left: 0.5rem;
    top: 3rem;
}

.hand0012 {
    left: 3.5rem;
    top: 3.7rem;
}

.toast0012 {
    left: 0rem;
    top: 2rem;
}

.hand0013 {
    left: 3.5rem;
    top: 7.7rem
}

.toast0013 {
    left: 0rem;
    top: 5.5rem;
}

.hand0014 {
    left: 1.5rem;
    top: 9.5rem;
}

.toast0014 {
    left: 0rem;
    top: 6.5rem;
}

.hand0015 {
    left: 3.5rem;
    top: 10.5rem;
}

.toast0015 {
    left: 1rem;
    top: 8.5rem;
}

.hand0016 {
    left: 3.5rem;
    top: 9.5rem;
}

.toast0016 {
    left: 0rem;
    top: 5.5rem;
}

.hand0017 {
    left: 1.5rem;
    top: 1rem;
}

.toast0017 {
    left: 1rem;
    top: 3.5rem;
}

.hand0018 {
    left: 3.5rem;
    top: 3rem;
}

.toast0018 {
    left: 0rem;
    top: 6rem;
}

.hand0019 {
    left: 3.3rem;
    top: 7rem;
    visibility: visible;
}

.toast0019 {
    left: 0rem;
    top: 3rem;
}

.hand0020 {
    left: 3.3rem;
    top: 3.5rem;
    visibility: visible;
}

.toast0020 {
    left: 0.3rem;
    top: 6.5rem;
    visibility: visible;

}

.hand0021 {
    left: 3.3rem;
    top: 4.5rem;
    visibility: visible;
}

.toast0021 {
    left: 0.3rem;
    top: 6.5rem;
    visibility: visible;

}

.hand0022 {
    left: 3.3rem;
    top: 8.7rem;
    visibility: visible;
}

.toast0022 {
    left: 0.3rem;
    top: 3.5rem;
    visibility: visible;

}

.hand0023 {
    left: 3.3rem;
    top: 10.5rem;
    visibility: visible;
}

.toast0023 {
    left: 0.3rem;
    top: 3.5rem;
    visibility: visible;

}

.hand0024 {
    left: 3.3rem;
    top: 8.7rem;
}

.toast0024 {
    left: 0.3rem;
    top: 3.5rem;
    visibility: visible;

}

.hand0025 {
    left: 3.3rem;
    top: 8.7rem;
}

.toast0025 {
    left: 0.3rem;
    top: 3.5rem;
    visibility: visible;

}

.hand0026 {
    left: 1.3rem;
    top: 9rem;
    visibility: visible;
}

.toast0026 {
    left: 0.3rem;
    top: 6.5rem;
    visibility: visible;

}

.hand0027 {
    left: 3.3rem;
    top: 10.5rem;
}

.toast0027 {
    left: 1.3rem;
    top: 9.5rem;
}

.hand0028 {
    left: 3.3rem;
    top: 8rem;
}

.toast0028 {
    left: 0rem;
    top: 6.5rem;
}

.hand0029 {
    left: 4.3rem;
    top: 3rem;
    visibility: visible;
}

.toast0029 {
    left: 0.3rem;
    top: 6rem;
    visibility: visible;

}

.hand0030 {
    left: 5rem;
    top: 10.3rem;
    visibility: visible;
}

.toast0030 {
    left: 0rem;
    top: 6rem;
    visibility: visible;

}