
.yaoqin {
    width: 90%;
    height: 90%;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.yaoqin .pager {
    width: 100%;
    height: 100%;
}

.gone {
    visibility: hidden;
}

.hand001 {
    left: 5rem;
    top: 10.5rem;
}

.toast001 {
    left: .5rem;
    top: 9rem;
}

.hand002 {
    left: 2.5rem;
    top: 4.5rem;
}

.toast002 {
    left: 1.5rem;
    top: 6rem;
}

.hand003 {
    left: 2.5rem;
    top: 5rem;
}

.toast003 {
    left: 1rem;
    top: 3rem;
}

.hand004 {
    left: 5rem;
    top: 0rem;
}

.toast004 {
    left: 2rem;
    top: 4rem;
}

.hand005 {
    left: 3rem;
    top: 0rem
}

.toast005 {
    left: 1rem;
    top: 3rem;
}

.hand006 {
    left: 5rem;
    top: 0rem;
}

.toast006 {
    left: 1rem;
    top: 3rem;
}

.hand007 {
    left: 5rem;
    top: 1rem;
}

.toast007 {
    left: 1rem;
    top: 3rem;
}

.hand008 {
    left: 0rem;
    top: 2.5rem;
}

.toast008 {
    left: 2.5rem;
    top: 3rem;
}

.hand009 {
    left: 3rem;
    top: 6rem;
}

.toast009 {
    left: 0rem;
    top: 4rem;
}

.hand0010 {
    left: 3rem;
    top: 2rem;
}

.toast0010 {
    left: 0rem;
    top: 4rem;
}